body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .Home-page-wrapper {
      width: 90%;
      max-width: 40rem;
      margin: 2rem auto;
      border: 2px black;
      padding: 1rem;
      text-align: center;
      background-color: lightblue;
  }

  .add-idea-wrapper {
    width: 60%;
        max-width: 25rem;
        margin: 2rem auto;
        border: 2px solid black;
        padding: 1rem;
        background-color: orange;
  }

  .Landing-page-wrapper {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    border: 1px black;
    padding: 1rem;
    background-color: lightGrey;
  }

  .Landing-page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .welcome-banner {
    display:flex;
    justify-content: center;
    align-items: center;
  }

